.DS_Store
.git/**
.m2-spring-petclinic/**
.vscode/

# this file is just to allow the folder to exist, the spring-petclinic
# submodule uses this
!.m2-spring-petclinic/.gitkeep


docker-secrets/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# tutorial
codepipeline-helloworld/*